.form-group {
    padding: 5px;
}


.beat, .beat-mobile {
    border-radius: 25rem;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin-right: 0.3em;
    text-align: center;
    white-space: nowrap;
}

.beat-mobile {
    padding: 0.9em 0.5em;
}

.beat {
    padding: 2em 1em;
}

.badge {
    box-shadow: none;
}

.rounded-pill {
    border-radius: 50rem!important;
}

.state-text {
    font-size: 30px!important;
}

.float-end {
    float: right!important;
}

a.details-view {
    color: #0d6efd!important;
    text-decoration: underline!important;
    cursor: pointer;
}
.lds-ring {
   display: inline-block;
   position: relative;
   width: 64px;
   height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #cef;
    border-radius: 50%;
    animation: lds-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0d6efd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dropdown-toggle {
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
}

.nav-link {
    color: #212529;
}