{% macro inputs() %}
    {% import 'fields/text.html.twig' as fieldText %}
    {# {% import 'fields/select.html.twig' as fieldSelect %}

    <div class="row form-group">
        <div class="col-12">
            {{ fieldSelect.select('tool[name]', 'Name', { required: true }) }}
        </div>
    </div> #}

    <div class="row form-group">
        <div class="col-12">
            {{ fieldText.text('tool[name]', 'Name', { required: true }) }}
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12">
            {{ fieldText.text('tool[address]', 'Address', { required: true }) }}
        </div>
    </div>

    <script>
        $(function() {
            let form = $(".form-toolForm");

            $( ".add-tool" ).click(function() {
                form.attr('action', $(this).data('action'));
            });
        });
    </script>
{% endmacro %}